{% extends 'base.html' %}

{% block content %}

<h1>애견 호텔 목록</h1>

<form method="GET" action="{% url 'hotelRate' %}">
    <input class="btn btn-primary" type="submit" value="평점순" style="float:right">
</form>

<form method="POST" action="{% url 'hotelNameSearch' %}">
    {% csrf_token %}
    <input name="name" type="text" value="" style="float:center">
    <input class="btn btn-primary" type="submit" value="이름으로 검색하기" style="float:center">
</form>

<br>

<form method="POST" action="{% url 'hotelLocationSearch' %}">
    {% csrf_token %}
    <input name="location" type="text" value="" style="float:center;">
    <input class="btn btn-primary" type="submit" value="위치로 검색하기" style="float:center">
</form>

<br>
<br>

{% for hotel in hotelinfo.all %}
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h4 class="card-title" style="float:left">{{hotel.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted" style="float:right">{{hotel.homepage}}</h6>
            <br>
            <h6 class="card-subtitle mb-2 text-muted" style="float:right">{{hotel.phone}}</h6>
            <br>
            <h6 class="card-subtitle mb-2 text-muted" style="float:left">{{hotel.location}}</h6>
            <br>
            <h5 class="card-text" style="float:left">별 {{hotel.rate}} 개</p>
        </div>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'reservation' %}" style="float:right">
            {% csrf_token %}
            <input name="userid" type="text" value="{{ hotel.userid }}" style="display:none">
            <input class="btn btn-primary" type="submit" value="예약하기" style="float:right">
        </form>
        {% endif %}
    </div>
    <br>
{% endfor %}

{% endblock %}