{% extends 'base.html' %}

{% block content %}

<h1>나의 시설 등록하기</h1>

<form method="POST" action="{% url 'hotelAdd' %}">

    {% csrf_token %}

    호텔 이름:
    <br>
    <input name="name" type="text" value="">
    <br>
    위치:
    <br>
    <input name="location" type="text" value="">
    <br>
    홈페이지 주소:
    <br>
    <input name="homepage" type="text" value="">
    <br>
    전화번호:
    <br>
    <input name="phone" type="text" value="">
    <br>
    평점:
    <br>
    <input name="rate" type="text" value="">
    <br>
    <br>

    <input class="btn btn-primary" type="submit" value="나의 시설 등록하기">
</form>

{% endblock %}